In [1]:
import numpy as np
import pandas as pd
import pyhere
from datetime import datetime

In [2]:
dir_data_raw = pyhere.here().resolve().joinpath("data", "raw")
dir_data_interim = pyhere.here().resolve().joinpath("data", "interim")
dir_data_external = pyhere.here().resolve().joinpath("data", "external")

In [3]:
csv_power_plants = pd.read_csv(dir_data_interim/"power_plants_with_generation_transformed.csv", index_col=[0])
max_index_csv_power_plants = len(csv_power_plants.index)
max_index_csv_power_plants
# df_sample = csv_power_plants.loc[0:30]
# df_sample.describe()
# max_index_sample_csv_power_plants = len(df_sample.index)
# max_index_sample_csv_power_plants

# df_sample

34936

In [4]:

# csv_power_plants
# with pd.read_csv(dir_data_interim/"power_plants_with_generation_transformed.csv", index_col=[0], iterator = True, chunksize= 50) as reader:
#     # print(reader.get_chunk(5))
#     for chunk in reader.:
#         print(chunk)
#     # print(reader.get_chunk(6))
# # reader

# sample_index_reference = 0

# while sample_index_reference + 5 <= (max_index_sample_csv_power_plants - 1):
#     try:
#         df_transformed_data_combined_with_nasa = pd.read_csv(dir_data_external/"transformed_data_combined_with_nasa.csv", index_col=['index'] )
#         sample_index_reference = sample_index_reference + 5
#     except FileNotFoundError: 
#         pass

#     top_to_iterate = None

#     if (sample_index_reference + 4) <= max_index_sample_csv_power_plants:
#         top_to_iterate = sample_index_reference + 4 
#     else:
#         top_to_iterate = max_index_sample_csv_power_plants -1
#     sample_lat_lon = df_sample.loc[sample_index_reference:top_to_iterate, ["latitude", "longitude"]]
#     print(sample_lat_lon)
#     print(f'{sample_index_reference}:{top_to_iterate} de {max_index_sample_csv_power_plants - 1}')
# sample_lat_lon = df_sample.loc[35:41, ["latitude", "longitude"]]
# sample_lat_lon

# LOOP SINGLE POINT

In [ ]:
'''
*Version: 2.0 Published: 2021/03/09* Source: [NASA POWER](https://power.larc.nasa.gov/)
POWER API Multi-Point Download
This is an overview of the process to request data from multiple data points from the POWER API.
'''
# TQV                   MERRA-2 Total Column Precipitable Water (kg m-2) 
# WS10M                 MERRA-2 Wind Speed at 10 Meters (m/s) 
# CLRSKY_SFC_SW_DNI     CERES SYN1deg Clear Sky Surface Shortwave Downward Direct Normal Irradiance (kW-hr/m^2/day) 

# ALLSKY_SFC_SW_DWN     All Sky Surface Shortwave Downward Irradiance
# CLRSKY_SFC_SW_DWN     Clear Sky Surface Shortwave Downward Irradiance
# ALLSKY_KT             All Sky Insolation Clearness Index
# WS10M_MIN_AVG         Wind Speed at 10 Meters Minimum Average
# WS10M_MAX_AVG         Wind Speed at 10 Meters Maximum Average
# WS50M_MAX_AVG         Wind Speed at 50 Meters Maximum Average
# WS50M_MIN_AVG         Wind Speed at 50 Meters Minimum Average
import os, json, requests
from io import StringIO
import certifi
import urllib3
from time import sleep

datetime_object = datetime.now()
index_reference = 0
rows_chunk = 60
seconds_to_sleep = 0

while index_reference + rows_chunk <= (max_index_csv_power_plants - 1):
    try:
        df_transformed_data_combined_with_nasa = pd.read_csv(dir_data_external/"v2_transformed_data_combined_with_nasa.csv", index_col=['index'] )
        index_reference = df_transformed_data_combined_with_nasa.index.max() + 1
    except FileNotFoundError: 
        pass

    top_to_iterate = None

    if (index_reference + (rows_chunk - 1)) <= max_index_csv_power_plants:
        top_to_iterate = index_reference + (rows_chunk - 1)
    else:
        top_to_iterate = max_index_csv_power_plants -1
    sample_lat_lon = csv_power_plants.loc[index_reference:top_to_iterate, ["latitude", "longitude"]]
    # print(sample_lat_lon)
    print(f'{index_reference}:{top_to_iterate} de {max_index_csv_power_plants - 1}')


    # try:
    #     df_transformed_data_combined_with_nasa = pd.read_csv(dir_data_external/"transformed_data_combined_with_nasa.csv", index_col=['index'] )
    #     index_reference = df_transformed_data_combined_with_nasa.index.max() + 1
    # except FileNotFoundError: 
    #     index_reference = 0

    # sample_lat_lon = csv_power_plants.loc[index_reference:(index_reference+2), ["latitude", "longitude"]]

    locations = list(sample_lat_lon.to_records(index=False))

    NORTH_HEMISPHERE_MONTHS_SEASONS = dict()
    SOUTH_HEMISPHERE_MONTHS_SEASONS = dict()
    MONTHS_OF_YEAR = np.array(["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"])
    NORTH_HEMISPHERE_MONTHS_SEASONS["autumn"] = np.array(["OCT", "NOV", "DEC"])
    NORTH_HEMISPHERE_MONTHS_SEASONS["winter"] = np.array(["JAN", "FEB", "MAR"])
    NORTH_HEMISPHERE_MONTHS_SEASONS["spring"] = np.array(["APR", "MAY", "JUN"])
    NORTH_HEMISPHERE_MONTHS_SEASONS["summer"] = np.array(["JUL", "AUG", "SEP"])
    SOUTH_HEMISPHERE_MONTHS_SEASONS["spring"] = np.array(["OCT", "NOV", "DEC"])
    SOUTH_HEMISPHERE_MONTHS_SEASONS["summer"] = np.array(["JAN", "FEB", "MAR"])
    SOUTH_HEMISPHERE_MONTHS_SEASONS["autumn"] = np.array(["APR", "MAY", "JUN"])
    SOUTH_HEMISPHERE_MONTHS_SEASONS["winter"] = np.array(["JUL", "AUG", "SEP"])

    output = r""
    base_url = r"https://power.larc.nasa.gov/api/temporal/monthly/point?parameters=ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_KT,WS10M_MIN_AVG,WS10M_MAX_AVG,WS50M_MAX_AVG,WS50M_MIN_AVG&community=RE&longitude={longitude}&latitude={latitude}&start=2012&end=2019&format=CSV&header=false"
    df_response = pd.DataFrame()

    http = urllib3.PoolManager(
        cert_reqs='CERT_REQUIRED',
        ca_certs=certifi.where()
    )

    aux_counter_index = index_reference

    filename_template = "v2_transformed_data_combined_with_nasa.csv"
    # filename = filename_template.format(file_title = datetime_object.strftime("%Y-%m-%d_%H:%M:%S"))
    filename = filename_template
    for latitude, longitude in locations:
        api_request_url = base_url.format(longitude=longitude, latitude=latitude)

        response = http.request('GET', api_request_url, timeout=30.00).data.decode('utf-8')
        # response = requests.get(url=api_request_url, verify=False, timeout=30.00).content.decode('utf-8')

        # content = json.loads(response.content.decode('utf-8'))
        # filename = response.headers['content-disposition'].split('filename=')[1]

        # print(pd.read_csv(StringIO(response)))
        df_response_aux = pd.read_csv(StringIO(response))
        df_response_aux["latitude"] = latitude
        df_response_aux["longitude"] = longitude

        if longitude > 0:
            hemisphere_months_seasons = NORTH_HEMISPHERE_MONTHS_SEASONS
        else:
            hemisphere_months_seasons = SOUTH_HEMISPHERE_MONTHS_SEASONS
        for index, element in hemisphere_months_seasons.items():
            df_response_aux[index]= df_response_aux[element].mean(axis=1)

        df_response_aux.drop(columns= MONTHS_OF_YEAR, inplace = True)

        df_response_aux = df_response_aux.pivot_table(index=["latitude", "longitude"], columns=["PARAMETER", "YEAR"])
        # df_response_aux = df_response_aux.pivot_table(columns=["PARAMETER", "YEAR"])
        # print(df_response_aux)
        df_response_aux.columns = ["_".join(map(str, cols)) for cols in df_response_aux.columns.to_flat_index()]
        # df_response_aux.reset_index(inplace = True)
        # df_response_aux['index_aux'] = aux_counter_index
        # df_response_aux.set_index('index_aux')
        # print(df_response_aux.index)
        # df_response_aux.merge(csv_power_plants.loc[aux_counter_index, ['capacity_mw', 'primary_fuel_transformed']])

        pd.concat([df_response_aux, csv_power_plants.loc[aux_counter_index, ['capacity_mw', 'primary_fuel_transformed']]], axis=1)

        if(df_response.empty):

            df_response = df_response_aux.copy()
        else:
            df_response = pd.concat([df_response,df_response_aux])

        aux_counter_index += 1


    df_response.reset_index(inplace = True)
    df_response.index += index_reference
    # TRANSFORMING AND COMBINING DATA
    try:

        df_response = pd.concat([df_response,df_transformed_data_combined_with_nasa])
        df_response.sort_index(inplace = True)
        del df_transformed_data_combined_with_nasa
    
    except NameError:
        pass

    df_response.to_csv(dir_data_external/filename, index_label='index')
    del df_response
    del df_response_aux
    print("Sleeping...")
    sleep(seconds_to_sleep)
    # with open(filename, 'w') as file_object:
    #     file_object.write(response)
    #     file_object.close()

# READING CSV TO CONTINUE TRANSFORMING THE DATA

In [152]:
df_nasa = pd.read_csv("File_Lat_32.322_Lon_65.119.csv", index_col=0)

df_nasa.head()

,PARAMETER,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,latitude,longitude
0,TQV,2000,6.60,5.32,6.77,9.46,8.70,7.34,10.12,12.64,6.84,7.73,7.52,8.05,8.11,32.322,65.119
1,TQV,2001,5.29,5.48,7.41,10.46,8.55,8.52,12.42,8.80,7.08,7.19,6.21,9.66,8.11,32.322,65.119
2,TQV,2002,6.93,7.99,6.94,10.73,9.32,9.08,10.48,10.35,4.77,6.73,9.27,8.23,8.41,32.322,65.119
3,TQV,2003,7.63,8.88,10.16,11.14,8.79,9.09,18.09,11.17,7.34,6.50,6.51,7.68,9.43,32.322,65.119
4,TQV,2004,9.81,6.22,7.86,10.20,9.40,7.90,12.28,7.95,7.90,6.58,9.98,9.25,8.79,32.322,65.119

In [153]:

if float(df_nasa.loc[0, ["longitude"]]) > 0:
    hemisphere_months_seasons = NORTH_HEMISPHERE_MONTHS_SEASONS
else:
    hemisphere_months_seasons = SOUTH_HEMISPHERE_MONTHS_SEASONS
for index, element in hemisphere_months_seasons.items():
    df_nasa[index]= df_nasa[element].mean(axis=1)

In [154]:
df_nasa

,PARAMETER,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,OCT,NOV,DEC,ANN,latitude,longitude,autumn,winter,spring,summer
0,TQV,2000,6.60,5.32,6.77,9.46,8.70,7.34,10.12,12.64,...,7.73,7.52,8.05,8.11,32.322,65.119,7.766667,6.230000,8.500000,9.866667
1,TQV,2001,5.29,5.48,7.41,10.46,8.55,8.52,12.42,8.80,...,7.19,6.21,9.66,8.11,32.322,65.119,7.686667,6.060000,9.176667,9.433333
2,TQV,2002,6.93,7.99,6.94,10.73,9.32,9.08,10.48,10.35,...,6.73,9.27,8.23,8.41,32.322,65.119,8.076667,7.286667,9.710000,8.533333
3,TQV,2003,7.63,8.88,10.16,11.14,8.79,9.09,18.09,11.17,...,6.50,6.51,7.68,9.43,32.322,65.119,6.896667,8.890000,9.673333,12.200000
4,TQV,2004,9.81,6.22,7.86,10.20,9.40,7.90,12.28,7.95,...,6.58,9.98,9.25,8.79,32.322,65.119,8.603333,7.963333,9.166667,9.376667
5,TQV,2005,6.59,8.12,12.89,9.62,11.97,12.07,11.86,10.91,...,6.66,6.85,5.91,9.31,32.322,65.119,6.473333,9.200000,11.220000,10.316667
6,TQV,2006,7.33,10.73,8.18,9.34,11.16,8.12,12.55,14.98,...,9.79,10.60,7.83,9.77,32.322,65.119,9.406667,8.746667,9.540000,11.360000
7,TQV,2007,6.29,9.98,10.80,11.63,11.04,18.09,12.52,10.90,...,4.90,6.38,6.35,9.57,32.322,65.119,5.876667,9.023333,13.586667,9.836667
8,TQV,2008,6.13,5.44,7.77,10.05,9.27,12.15,13.54,12.37,...,8.17,7.33,7.77,9.09,32.322,65.119,7.756667,6.446667,10.490000,11.586667
9,TQV,2009,8.16,8.66,10.19,12.38,13.53,10.76,12.40,9.34,...,6.41,7.70,8.34,9.75,32.322,65.119,7.483333,9.003333,12.223333,10.276667
10,TQV,2010,6.79,10.83,9.70,13.09,13.77,11.72,11.77,16.36,...,7.84,4.56,3.48,9.77,32.322,65.119,5.293333,9.106667,12.860000,11.860000
11,WS10M,2000,2.59,2.98,3.18,3.80,4.10,4.06,3.69,3.44,...,3.13,2.80,2.55,3.30,32.322,65.119,2.826667,2.916667,3.986667,3.500000
12,WS10M,2001,2.51,2.93,3.16,3.56,4.19,4.38,4.16,3.75,...,3.33,2.95,2.43,3.41,32.322,65.119,2.903333,2.866667,4.043333,3.793333
13,WS10M,2002,2.73,2.95,3.00,3.59,4.04,4.02,4.06,3.51,...,3.30,2.48,2.55,3.32,32.322,65.119,2.776667,2.893333,3.883333,3.730000
14,WS10M,2003,2.69,2.92,3.32,3.45,4.53,4.18,3.34,3.59,...,2.99,2.79,2.43,3.30,32.322,65.119,2.736667,2.976667,4.053333,3.423333
15,WS10M,2004,2.54,2.91,3.42,3.77,3.96,3.89,3.96,3.58,...,3.23,2.74,2.64,3.32,32.322,65.119,2.870000,2.956667,3.873333,3.570000
16,WS10M,2005,2.61,3.12,2.85,3.29,4.03,3.84,3.91,3.43,...,3.26,2.67,2.52,3.23,32.322,65.119,2.816667,2.860000,3.720000,3.523333
17,WS10M,2006,2.65,2.62,3.04,3.45,4.16,4.09,4.02,3.09,...,3.31,2.72,2.43,3.23,32.322,65.119,2.820000,2.770000,3.900000,3.413333
18,WS10M,2007,2.43,2.69,2.92,2.95,3.77,3.51,3.62,3.22,...,3.12,2.69,2.41,3.03,32.322,65.119,2.740000,2.680000,3.410000,3.300000
19,WS10M,2008,2.40,3.13,3.11,3.41,4.27,3.85,3.73,3.29,...,3.22,2.61,2.45,3.24,32.322,65.119,2.760000,2.880000,3.843333,3.490000
20,WS10M,2009,2.65,2.78,3.10,3.32,4.16,4.35,3.99,4.21,...,2.96,2.95,2.36,3.36,32.322,65.119,2.756667,2.843333,3.943333,3.893333
21,WS10M,2010,2.57,3.27,3.05,3.41,3.88,4.49,3.96,3.02,...,3.19,2.54,2.55,3.26,32.322,65.119,2.760000,2.963333,3.926667,3.386667
22,CLRSKY_SFC_SW_DNI,2000,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,...,-999.00,-999.00,-999.00,-999.00,32.322,65.119,-999.000000,-999.000000,-999.000000,-999.000000
23,CLRSKY_SFC_SW_DNI,2001,7.70,7.88,8.33,7.47,8.94,9.46,8.03,8.65,...,7.69,7.48,6.92,8.06,32.322,65.119,7.363333,7.970000,8.623333,8.263333
24,CLRSKY_SFC_SW_DNI,2002,7.71,7.43,8.46,7.62,8.89,9.16,9.00,7.98,...,7.77,7.41,7.07,8.14,32.322,65.119,7.416667,7.866667,8.556667,8.713333
25,CLRSKY_SFC_SW_DNI,2003,6.84,6.97,7.13,7.89,9.39,9.63,7.44,7.92,...,8.31,7.86,7.23,7.89,32.322,65.119,7.800000,6.980000,8.970000,7.803333
26,CLRSKY_SFC_SW_DNI,2004,6.70,7.86,8.23,8.22,8.89,9.60,8.96,9.33,...,8.65,7.09,7.00,8.24,32.322,65.119,7.580000,7.596667,8.903333,8.866667
27,CLRSKY_SFC_SW_DNI,2005,7.38,6.99,7.82,8.56,8.54,9.41,9.37,9.16,...,8.62,7.89,8.02,8.37,32.322,65.119,8.176667,7.396667,8.836667,9.033333
28,CLRSKY_SFC_SW_DNI,2006,7.07,6.94,7.96,8.80,8.71,9.92,8.99,7.63,...,7.52,6.68,6.84,7.94,32.322,65.119,7.013333,7.323333,9.143333,8.270000
29,CLRSKY_SFC_SW_DNI,2007,7.65,6.62,7.16,8.23,8.87,8.89,8.84,8.74,...,9.03,7.68,7.09,8.14,32.322,65.119,7.933333,7.143333,8.663333,8.776667
30,CLRSKY_SFC_SW_DNI,2008,7.70,8.13,7.49,7.53,8.46,8.39,8.22,7.81,...,7.75,7.67,6.94,7.82,32.322,65.119,7.453333,7.773333,8.126667,7.946667
31,CLRSKY_SFC_SW_DNI,2009,6.64,6.32,6.72,7.40,8.20,9.18,8.76,8.91,...,8.01,7.52,6.79,7.72,32.322,65.119,7.440000,6.560000,8.260000,8.593333
32,CLRSKY_SFC_SW_DNI,2010,7.31,6.38,7.36,7.87,8.13,9.37,7.95,6.64,...,7.88,8.39,7.77,7.76,32.322,65.119,8.013333,7.016667,8.456667,7.533333

In [155]:
df_nasa.drop(columns= MONTHS_OF_YEAR, inplace = True)
df_nasa

,PARAMETER,YEAR,ANN,latitude,longitude,autumn,winter,spring,summer
0,TQV,2000,8.11,32.322,65.119,7.766667,6.230000,8.500000,9.866667
1,TQV,2001,8.11,32.322,65.119,7.686667,6.060000,9.176667,9.433333
2,TQV,2002,8.41,32.322,65.119,8.076667,7.286667,9.710000,8.533333
3,TQV,2003,9.43,32.322,65.119,6.896667,8.890000,9.673333,12.200000
4,TQV,2004,8.79,32.322,65.119,8.603333,7.963333,9.166667,9.376667
5,TQV,2005,9.31,32.322,65.119,6.473333,9.200000,11.220000,10.316667
6,TQV,2006,9.77,32.322,65.119,9.406667,8.746667,9.540000,11.360000
7,TQV,2007,9.57,32.322,65.119,5.876667,9.023333,13.586667,9.836667
8,TQV,2008,9.09,32.322,65.119,7.756667,6.446667,10.490000,11.586667
9,TQV,2009,9.75,32.322,65.119,7.483333,9.003333,12.223333,10.276667
10,TQV,2010,9.77,32.322,65.119,5.293333,9.106667,12.860000,11.860000
11,WS10M,2000,3.30,32.322,65.119,2.826667,2.916667,3.986667,3.500000
12,WS10M,2001,3.41,32.322,65.119,2.903333,2.866667,4.043333,3.793333
13,WS10M,2002,3.32,32.322,65.119,2.776667,2.893333,3.883333,3.730000
14,WS10M,2003,3.30,32.322,65.119,2.736667,2.976667,4.053333,3.423333
15,WS10M,2004,3.32,32.322,65.119,2.870000,2.956667,3.873333,3.570000
16,WS10M,2005,3.23,32.322,65.119,2.816667,2.860000,3.720000,3.523333
17,WS10M,2006,3.23,32.322,65.119,2.820000,2.770000,3.900000,3.413333
18,WS10M,2007,3.03,32.322,65.119,2.740000,2.680000,3.410000,3.300000
19,WS10M,2008,3.24,32.322,65.119,2.760000,2.880000,3.843333,3.490000
20,WS10M,2009,3.36,32.322,65.119,2.756667,2.843333,3.943333,3.893333
21,WS10M,2010,3.26,32.322,65.119,2.760000,2.963333,3.926667,3.386667
22,CLRSKY_SFC_SW_DNI,2000,-999.00,32.322,65.119,-999.000000,-999.000000,-999.000000,-999.000000
23,CLRSKY_SFC_SW_DNI,2001,8.06,32.322,65.119,7.363333,7.970000,8.623333,8.263333
24,CLRSKY_SFC_SW_DNI,2002,8.14,32.322,65.119,7.416667,7.866667,8.556667,8.713333
25,CLRSKY_SFC_SW_DNI,2003,7.89,32.322,65.119,7.800000,6.980000,8.970000,7.803333
26,CLRSKY_SFC_SW_DNI,2004,8.24,32.322,65.119,7.580000,7.596667,8.903333,8.866667
27,CLRSKY_SFC_SW_DNI,2005,8.37,32.322,65.119,8.176667,7.396667,8.836667,9.033333
28,CLRSKY_SFC_SW_DNI,2006,7.94,32.322,65.119,7.013333,7.323333,9.143333,8.270000
29,CLRSKY_SFC_SW_DNI,2007,8.14,32.322,65.119,7.933333,7.143333,8.663333,8.776667
30,CLRSKY_SFC_SW_DNI,2008,7.82,32.322,65.119,7.453333,7.773333,8.126667,7.946667
31,CLRSKY_SFC_SW_DNI,2009,7.72,32.322,65.119,7.440000,6.560000,8.260000,8.593333
32,CLRSKY_SFC_SW_DNI,2010,7.76,32.322,65.119,8.013333,7.016667,8.456667,7.533333

In [156]:
df_nasa_pivot = df_nasa.pivot_table(index=["latitude", "longitude"], columns=["PARAMETER", "YEAR"])

In [157]:
df_nasa_pivot

                                 ANN                                      \
PARAMETER          CLRSKY_SFC_SW_DNI
YEAR                            2000  2001  2002  2003  2004  2005  2006
latitude longitude
32.322   65.119               -999.0  8.06  8.14  7.89  8.24  8.37  7.94

                                      ...    winter                      \
PARAMETER                             ...     WS10M
YEAR                2007  2008  2009  ...      2001      2002      2003
latitude longitude                    ...
32.322   65.119     8.14  7.82  7.72  ...  2.866667  2.893333  2.976667


PARAMETER
YEAR                    2004  2005  2006  2007  2008      2009      2010
latitude longitude
32.322   65.119     2.956667  2.86  2.77  2.68  2.88  2.843333  2.963333

[1 rows x 165 columns]

In [158]:
df_nasa_pivot.columns = ["_".join(map(str, a)) for a in df_nasa_pivot.columns.to_flat_index()]

In [159]:
df_nasa_pivot

,,ANN_CLRSKY_SFC_SW_DNI_2000,ANN_CLRSKY_SFC_SW_DNI_2001,ANN_CLRSKY_SFC_SW_DNI_2002,ANN_CLRSKY_SFC_SW_DNI_2003,ANN_CLRSKY_SFC_SW_DNI_2004,ANN_CLRSKY_SFC_SW_DNI_2005,ANN_CLRSKY_SFC_SW_DNI_2006,ANN_CLRSKY_SFC_SW_DNI_2007,ANN_CLRSKY_SFC_SW_DNI_2008,ANN_CLRSKY_SFC_SW_DNI_2009,...,winter_WS10M_2001,winter_WS10M_2002,winter_WS10M_2003,winter_WS10M_2004,winter_WS10M_2005,winter_WS10M_2006,winter_WS10M_2007,winter_WS10M_2008,winter_WS10M_2009,winter_WS10M_2010
latitude,longitude,,,,,,,,,,,,,,,,,,,,,
32.322,65.119,-999.0,8.06,8.14,7.89,8.24,8.37,7.94,8.14,7.82,7.72,...,2.866667,2.893333,2.976667,2.956667,2.86,2.77,2.68,2.88,2.843333,2.963333

In [129]:
first_row_csv_power_plants = csv_power_plants[['latitude', 'longitude', 'primary_fuel', 'capacity_mw']].head(1)

In [148]:
first_row_csv_power_plants.set_index(['latitude', 'longitude'], inplace=True)

In [150]:
pd.concat([first_row_csv_power_plants, df_nasa_pivot], axis=1)

,,primary_fuel,capacity_mw,ANN_CLRSKY_SFC_SW_DNI_2000,ANN_CLRSKY_SFC_SW_DNI_2001,ANN_CLRSKY_SFC_SW_DNI_2002,ANN_CLRSKY_SFC_SW_DNI_2003,ANN_CLRSKY_SFC_SW_DNI_2004,ANN_CLRSKY_SFC_SW_DNI_2005,ANN_CLRSKY_SFC_SW_DNI_2006,ANN_CLRSKY_SFC_SW_DNI_2007,...,winter_WS10M_2011,winter_WS10M_2012,winter_WS10M_2013,winter_WS10M_2014,winter_WS10M_2015,winter_WS10M_2016,winter_WS10M_2017,winter_WS10M_2018,winter_WS10M_2019,winter_WS10M_2020
latitude,longitude,,,,,,,,,,,,,,,,,,,,,
32.322,65.119,Hydro,33.0,-999.0,8.06,8.14,7.89,8.24,8.37,7.94,8.14,...,2.97,3.153333,2.8,2.666667,2.816667,2.906667,3.0,3.033333,2.943333,2.82